body{
    min-width: 375px;
}
.footer-section {
    background-color: #25294f;
    color: white;
    justify-content: space-evenly;
    text-align: center;
}

.footer-section > div{
    padding-top: 20px;
}

.footer-section > div> article{
    margin-bottom: 20px;
}

.footer-section > div>article > h2{
    font-weight: bold;
    margin-bottom: 20px;
}