#login-container{
    margin-top: 5%
}

#login-container h2,
#login-container button,
#login-container form {
    width: 100%;
}

#login-container button{
    margin-top: 15px;
}

#login-container .form-label {
    float: left;
}
#login-container img {
    margin-bottom: 45px;
}